<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- CUSTOMIZING FONT -->
  <style>@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Shadows+Into+Light+Two&display=swap');</style>
  
  <!-- CONNECT APP TO BOOTSTRAP FOR STYLING EACH PAGE -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title> Dance Performances</title>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
  <div class="container text-center text-center" style="font-family: 'Architects Daughter', sans-serif;">
    <nav class="navbar navbar-expand-sm">
      <div class="container-fluid">
        <ul class="nav">
          <li class="nave-item" style="padding-left: 30px">
            <img src="https://i.imgur.com/kYCWUlm.jpg" class="background-image" style="width: 20px; background-blend-mode: darken;" alt="">
              <!-- ===== Updates the information in the nav bar based on if a user is logged in or not ===== -->
              <% if (user) { %>

                <% let nameArr = user.name.split(' ') %>
                <% let firstName = nameArr[0] %>

                <span class="navbar-text" style="padding-right: 30px; padding-left: 30px;" id="welcome">Welcome, <%= firstName %>!</span>
                <a href="/" style="padding-right: 30px">Home Page</a>
                <a href="/performances" style="padding-right: 30px">All Performances</a>        
                <a href="/performances/new" style="padding-right: 30px">Add Performance</a>        
                <a href="/logout" style="padding-right: 30px">Logout</a>
                <% } else { %>
                  <a href="/">Home Page</a>
                  <a href="/auth/google" class="login" style="padding-left: 30px"> Login&nbsp;<img src="https://i.imgur.com/FHjYyi0.png" style="width: 20px"/> </a>
              <% } %>
              <img src="https://i.imgur.com/LUEnWNi.png" class="background-image" style="width: 40px;" alt="">      
          </li>
        </ul>
      </div>    
    </nav>
<main>