<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>Welcome to the Teams Home Page</div>
  <a href="/">Home Page</a><br>
  <a href="/teams">Dance Team List</a><br>
  <a href="/teams/new">Add a Dance Team</a>
  <br>
  <!-- <a href="/teams/new">Add a Team</a> -->
</body>

</html>