<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>So you think you can judge?</div>

  <a href="/performances">All Performances</a><br>
  <a href="/performances/new">Add a Performance</a>
  <br>
  <!-- <a href="/teams/new">Add a Team</a> -->
</body>

</html>