<%- include('../partials/header') %>

<div class="container mt-3 text-white text-center rounded" style="background-color: #6a3d7dbf; width: 50%;">
  <br>
  <h2>Performance Submission Page</h2>
  <p>Complete the form below and submit</p>
  <form action="/performances" method="POST">
    <div class="form-floating mb-3 mt-3 text-black">
      <input type="text" class="form-control" id="name" placeholder="Enter Team Name" name="teamName">
      <label for="name">Team Name</label>
    </div>
    
    <div class="form-floating mb-3 mt-3 text-black">
      <input type="text" class="form-control" id="conference" placeholder="Enter Conference" name="conference">
      <label for="conference">Conference</label>
    </div>
    
    <div class="form-floating mb-3 mt-3 text-black">
      <input type="text" class="form-control" id="song" placeholder="Enter Song" name="song">
      <label for="song">Song</label>
    </div>

    <div class="row">
      <div class="col">
        <label>Style:</label>
        <select class="form-select" name="style">
          <option value="High Kick">High Kick</option>
          <option value="Jazz">Jazz</option>
        </select>
      </div>
      <div class="col">
        <label>Class:</label>
        <select class="form-select" name="class">
          <option value="A">A</option>
          <option value="AA">AA</option>
          <option value="AAA">AAA</option>
        </select>
      </div>
    </div>

  <br>
    <label>Performance Date:
      <input type="datetime-local" name="performanceDate">
    </label>
  <br><br>
    <button type="submit">Add Performance</button>
  <br>
  <br>
  </form>
</div>
<%- include('../partials/footer') %>