<%- include('../partials/header') %>

<form id="new-form" action="/performances" method="POST">
  <label>Team Name:</label>
  <input type="text" name="teamName">
  <label>Conference:</label>
  <input type="text" name="conference">
  <label>Style:</label>
  <select name="style">
    <option value="High Kick">High Kick</option>
    <option value="Jazz">Jazz</option>
  </select>
  <label>Song:</label>
  <input type="text" name="song">
  <label>Class:</label>
  <select name="class">
    <option value="A">A</option>
    <option value="AA">AA</option>
    <option value="AAA">AAA</option>
  </select>
  <label>Performance Date:
    <input type="datetime-local" name="performanceDate">
  </label>

  <button type="submit">Add Performance</button>
<br>
</form>

<%- include('../partials/footer') %>